.input {
    height: 30px;
    width: 160px;
    border: transparent;
    border-bottom: 1px black solid;
    font-size: 20px;
}

.h1{
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0;
}

.input:focus {
    outline: none;
}

.btn {
    height: 30px;
    margin-left: 10px;
    width: 100px;
}